<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ 'https://rayshoo.github.io/' }}">Main</a></li>
            <li>
              <span class="opener">Os</span>
              <ul>
                <li><a href="{{ 'https://rayshoo.github.io/os/windows.html' }}">Windows</a></li>
                <li><a href="#">Linux</a></li>
              </ul>
            </li>
            <li>
              <span class="opener">Devops</span>
              <ul>
                <li><a href="#">Vagrant</a></li>
                <li><a href="#">Ansible</a></li>
                <li><a href="{{ 'https://rayshoo.github.io/devops/kubernetes">Docker</a></li>
                <li><a href="#">Kubernetes</a></li>
                <li><a href="#">Serverspec</a></li>
                <li><a href="#">Jenkins</a></li>
              </ul>
            </li>
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Ante interdum</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="https://rayshoo.github.io/assets/images/pic07.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="https://rayshoo.github.io/assets/images/pic08.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="https://rayshoo.github.io/assets/images/pic09.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <!-- <li class="fa-phone">{{ site.phone }}</li>
            <li class="fa-home">{{ site.street_address }}<br /> -->
            <li class="fa-home">{{ site.city }}, {{ site.country }}</li>
            {{ site.state }}{{ site.zip_code }}<br />
            </li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>. Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a>.</p>
        </footer>

    </div>
  </div>
